*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.App {
  height: 100%;
}

body {
  background-color: #EAEDED;
}

.App {
  text-align: center;
}

h2, h3 {
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: #131921;
  color: white;
  padding: 4px;
}

.nav-logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.NavLink {
  color: white;
  text-decoration: none;
  padding: 4px 16px;
  height: 30px;
  margin: 0 2px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
}

.nav-logo:hover,
.NavLink:hover {
  border: 1px solid #ddd;
}

.nav-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-cart-count {
  color: rgb(252, 156, 135);
  font-weight: 700;
  position: relative;
  bottom: 10px;
  left: 5px;
}

.nav-cart-icon {
  font-size: 1.3em;
  position: relative;
  top: 3px;
}

.active {
  border-bottom: 1px solid #ddd ;
}

.Shop {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.products {
  background-color: white;
  padding: 20px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Product {
  height: 300px;
  padding: 8px;
  border: 1px solid #f5f5f5;
}

.product-image {
  width: 240px;
}

.product-name {
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

.product-price {
  font-size: 28px;
}

.add-to-cart-btn {
  width: 100%;
  background-color: #FFD814;
  border: 1px solid #FCD200;
  color: #0F1111;
  font-size: 14px;
  line-height: 20px;
  border-radius: 100px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  cursor: pointer;
  padding: 2px 8px;
  margin: 4px;
}

.add-to-cart-btn:hover {
  background-color: #F7CA00;
  border-color: #F2C200;
}

.add-to-cart-btn:active {
  background: #F0B800;
  border-color: #008296;
  box-shadow: 0 0 0 3px #c8f3fa, inset 0 0 0 2px #fff;
}

.Cart {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.Shopping-Cart {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  flex: 3;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  
}
.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 2px solid #f5f5f5;
}

.cart-item-image {
  width: 100px;
}

.cart-item-name {
  font-size: 1rem;
}

.cart-item-price {
  font-size: 20px;
  font-weight: 600;
}

.shopping-cart-sub-total {
  align-self: flex-end;
  padding-right: 30px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}

.buy-box {
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.checkout-btn {
  width: 300px;
  height: 50px;
  background-color: #FFD814;
  border: 1px solid #FCD200;
  color: #0F1111;
  font-size: 16px;
  line-height: 20px;
  border-radius: 100px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  cursor: pointer;
  padding: 2px 8px;
  margin: 20px 20px 0 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.checkout-btn:hover {
  background-color: #F7CA00;
  border-color: #F2C200;
}

.checkout-btn:active {
  background: #F0B800;
  border-color: #008296;
  box-shadow: 0 0 0 3px #c8f3fa, inset 0 0 0 2px #fff;
}

.arrow-icon {
  font-size: 24px;
}